.PlayerTable th {
  padding: 1px;
  /* box-shadow: 0 1px 2px 0 rgba(0,0,0,.24); */
}

.PlayerTable tr {
  padding: 0;
}

.totalPoints {
  background-color: #F1F6F9;
}

.PositionColumn {
  color: #666666;
}

.PlayerTable {
  box-shadow:  100px 1px -1px rgba(0,0,0,0.2), 1px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12)
}